.wrapper {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  font-size: calc(10px + 2vmin);
  height: 80px;
  justify-content: space-between;
  left: 0;
  padding: 0 20px;
  position: 'fixed';
  top: 0;
  width: '100%';
}

.logo {
  color: red;
}

.nav-container {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 50%;

  .dropdown-list {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;

    &.hide-list {
      display: none;
    }
  }

  .menu-button {
    align-items: center;
    border-radius: 4px;
    border: 1px solid #ffffff;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 40px;
  }

  .dropdown-list-open {
    background-color: black;
    border-radius: 10px;
    display: list-item;
    list-style-type: none;
    padding: 0 10px;
    position: absolute;
    top: 45px;
  }

  .list-item {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding: 10px;

    a {
      color: white;
      text-decoration: none;
    }
  }
}
